<div class="jumbotron">
    <h1 class="display-3">Error {{code}}</h1>
    <p class="lead">{{detail}}</p>
    <hr class="my-4">
    <p>Visit the documentation or contact the system administrator</p>
</div>