<div class="jumbotron">
    <h1 class="display-3">API Configurator</h1>
    <p class="lead">Api Restfull cloud that is used by the  configuration of applications </p>
    <hr class="my-4">
    <p>Visit the documentation for more information</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/docs" role="button">Documentation</a>
    </p>
</div>